# Ignore Vim folders and files
/vim/autoload/
/vim/plugged/
/vim/undodir/
/vim/viminfo
/vim/.netrwhist

# Ignore NeoVim folders and files
/nvim/autoload/
/nvim/plugged/
/nvim/undodir/
/nvim/viminfo
/nvim/.netrwhist
